<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="w-100">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height: 200px">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img src="<%= locals.user.avatar %>" alt="avatar" class="img-fluid img-thumbnail mt-4 mb-2 h-100 object-fit-cover" style="width: 150px; z-index: 1" />
              <div class="d-flex gap-2 action_btn">
                <a href="/update/<%=user.id%>" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1">Edit profile</a>
                <a href="/delete/<%=user.id%>" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1">Delete profile</a>
              </div>
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5><%= locals.user.userName %></h5>
              <p><%= locals.user.city %></p>
            </div>
          </div>
          <div class="p-4 text-black person_number" style="background-color: #f8f9fa">
            <div class="d-flex justify-content-end text-center py-1">
              <div>                
                <p class="mb-1 h5"><%=images.length%></p>

                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3 follower_block">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div class="follow_block">
                <p class="mb-1 h5 ">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4 card_detail_box" style="background-color: #f8f9fa">
                <h3 class="font-italic mb-1"><%= locals.user.designation %></h3>
                <p class="font-italic mb-1 about_para"><%= locals.user.about %></p>
                <span class="font-italic mb-1">Lives in <%= locals.user.city %></span>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <div class="d-grid-4 ">
                  <% images.forEach(image => { %>
                    <div class="gallery_img-box">    
                      <img src="<%= image.gallery %>" alt="image 1" class="w-100 h-100 object-fit-cover rounded-3" />
                      <a href="/deleteGalleryImg/<%=image.id%>" class=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                    <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
